@model PrognizerViewModel

@{
    ViewData["Title"] = "Прогнозирование потребления энергии";

    var currentDate = DateTime.Now;

    var currentYear = currentDate.Year;
    var currentMonth = currentDate.Month;
}

@section Styles {
    <bundle name="wwwroot/bundles/css/prognizer.bundle.css" />
}

@section Scripts {
    <bundle name="wwwroot/bundles/js/prognizer.bundle.js" />
}

<div id="prognizer-date-selector" class="mb-3" table-content-url="@Url.Action("GetTableContent", "Prognizer")" day-report-url="@Url.Action("GenerateDayReport", "Prognizer")">

    @Html.LabelFor(x => x.Substations, new { @for="prognizer-substation" })
    <div>
        <select id="prognizer-substation-selector" class="form-select">
            @foreach (var substation in Model.Substations)
            {
                <!option value="@substation.Id">@substation.Name</!option>
            }
        </select>
    </div>

    @Html.LabelFor(x => x.StartDate, new { @for="prognizer-date-picker" })
    <div>
        <input id="prognizer-date-picker" class="form-control" type="date" value="@Model.StartDate" />
    </div>

    <button type="button" class="btn btn-primary" id="prognizer-button-calculate">Рассчитать</button>
</div>

<div id="prognizer-result-table"></div>
