@using Microsoft.AspNetCore.Html;
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor

@{
    var currentPath = HttpContextAccessor.HttpContext.Request.Path;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Прогноз</title>

    <bundle name="wwwroot/bundles/css/libraries.bundle.css" />
    <bundle name="wwwroot/bundles/css/common.bundle.css" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
    </header>

    <div class="prognizer-sidebar">
        <div class="btn-group-vertical prognizer-sidebar-menu">
            <div class="prognizer-sidebar-menu-header">Меню</div>
            @{ RenderNavItem(Url.Action("Index", "Home"), "Домашняя"); }
            @{ RenderNavItem(Url.Action("Index", "Upload"), "Загрузка данных"); }
            @{ RenderNavItem(Url.Action("Index", "Prognizer"), "Прогноз протребления"); }
            @{ RenderNavItem(Url.Action("Index", "DownloadLog"), "Логи загрузки данных"); }
            @{ RenderNavItem(Url.Action("Index", "Settings"), "Настройки"); }
        </div>
    </div>

    <div class="container">
        <div class="prognizer-container">
            <main role="main" class="pb-3">
                <h5 class="text-center">@ViewData["Title"]</h5>
                <hr />
                @RenderBody()
            </main>
        </div>
    </div>

    <footer>
        <div id="progress-bar-form-wrapper">
            <div id="progress-bar-form">
                <div class="text-dark">Идет загрузка файлов</div>
                <div id="progress-bar-wrapper">
                    <div class="progress" id="prognizer-progress-bar">
                        <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-sm btn-warning shadow-none" id="progress-bar-cancel-button">Прервать</button>
                </div>
            </div>
        </div>
    </footer>

    <bundle name="wwwroot/bundles/js/libraries.bundle.js" />
    <bundle name="wwwroot/bundles/js/common.bundle.js" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


@{
    void RenderNavItem(string url, string name)
    {
        var additionalClass = HttpContextAccessor.HttpContext.Request.Path == url ? "btn-primary" : "";

        <a class="btn @additionalClass" href="@url">@name</a>
    }        
}
